@charset "UTF-8";

.sidenav {
	height: 500px;
	width: 200px;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	margin: 0 0 0 200px;
	padding-top: 20px;
	border-left: 0.5px solid rgba(0, 0, 0, .1);
	border-right: 0.5px solid rgba(0, 0, 0, .1);
	float: left;
}

.sidenav a {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 20px;
	border-bottom: 0.5px solid rgba(0, 0, 0, .1);
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: black;
}

.sidenav .menubar {
	background-color: green;
	color: white;
	padding: 30px;
	text-align: center;
	font-size: 25px;
}

.select {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 20px;
	border-bottom: 0.5px solid rgba(0, 0, 0, .1);
	color: #818181;
	display: block;
	background-color: #FFDEDE;
}

#content {
	padding-bottom: 45px;
	width: 1400px;
}

.header {
	border: 0.5px solid rgba(0, 0, 0, .1);
	padding: 20px;
}

.footer {
	border: 0.5px solid rgba(0, 0, 0, .1);
	float: left;
	width: 100%;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

#tab {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

#tab .tab_menu {
	display: table;
	position: relative;
	width: 100%;
	table-layout: fixed;
	transition-duration: 0.5s;
	transition-property: margin;
}

#tab .tab_menu.on {
	margin-bottom: 0px;
}

.tab_menu>li {
	display: table-cell;
	width: 25%;
	height: 50px;
	box-sizing: border-box;
}

.tab_menu>li>a {
	display: block;
	position: relative;
	padding: 13px 20px;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	height: 100%;
	color: #666;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	border-left: 0;
	box-sizing: border-box;
	transition: background 0.3s;
	text-decoration: none;
}

.tab_menu>li>a:first-child {
	border-left: 1px solid #e5e5e5;
}

.tab_menu>li>a:hover, .tab_menu>li>a:focus {
	color: #333;
	background: #e5e5e5;
	text-decoration: underline;
}

.tab_menu>li.on>a {
	position: relative;
	padding: 11px 20px;
	color: #001969;
	background: #fff;
	font-weight: 500;
	border: 3px solid #001969;
}

.title {
	text-align: center;
}

.tableLayout table {
	border-collapse: collapse;
	width: 100%;
}

.tableLayout {
	margin-left: 80px;
}

td, th {
	padding: 8px;
	border: 1px solid #b4b4b4;
}

thead th {
	padding: 10px;
	font-weight: bold;
	background-color: #f5f5f5;
}

tbody th {
	font-weight: bold;
	background-color: #dcdcd1;
}

<!--
table
-->.detail {
	padding-bottom: 45px;
	margin-top: 50px;
	margin-left: 50px;
}

.detailTable {
	margin-left: 50px;
	width: 1400px;
}

td.select_peo label {
	display: inline-block;
	margin-left: 3px;
	width: 60px;
	height: 30px;
	background: #e5e5e5;
	border-radius: 3px;
	color: #333;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
}

td.select_peo input[type="radio"] {
	display: none;
}

td.select_peo input[type="radio"]:checked+label {
	border: 2px solid #001969;
	background: #fff;
	color: #001969;
	line-height: 25px;
}

td.select_peo input[type="radio"]:disabled+label {
	background: #f5f5f5;
	color: #999;
	cursor: default;
}

.submit{
	background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}