<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="css/memberList.css">
    <link rel="stylesheet" href="css/menu.css">
</head>


<body>
<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-inverse side-collapse in">
            <nav role="navigation" class="navbar-collapse">
                <ul class="nav navbar-nav">

                    <li><a href="/members">Users</a></li>
                    <li><a href="/notice">Notice</a></li>
                    <li><a href="/place_history">History</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="container">
    <div th:replace="fragments/placeHeader :: placeHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>장소</th>
                <th>들어간 시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="place : ${places}">
                <td th:text="${place.id}"></td>
                <td th:text="${place.name}"></td>
                <td th:text="${place.place}"></td>
                <td th:text="${place.localDateTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>